body {
   background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2014/02/25/276048/3e914e66c59872974e4a80118d9b9ffb.jpg");
   background-repeat: no-repeat;
   background-size: cover; 
   background-position: center;
}